@media (max-width: 749px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 3.7rem;
    }

    .hero-title {
        margin: 0 auto;

    }

    .header-links-list {
        margin-bottom: 12rem;
    }

    .partners {
        padding-bottom: 6rem;
    }

    .partner-list {
        margin-bottom: 3rem;
    }

    .partner-list-item:not(:last-child) {
        margin-bottom: 2.7rem;
    }

}

@media (min-width: 750px) and (max-width: 939px) {
    .container {
        width: 100%;
    }
    .header {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15rem;
        width: 88%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        padding-bottom: 23rem;
    }


    .hero-title {
        margin: 0 auto;
        font-size: 5.15rem;
        width: 50rem;
    }

    .hero-desc {
        font-size: 2.4rem;
        padding: 4.4rem 0 4rem 0;
    }

    .partners {
        padding-bottom: 6rem;
    }

    .partner-list {
        margin: 0 auto;
        width: 66.666%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    .partner-list-item:nth-child(-n+2) {
        margin-bottom: 6rem;
    }

}

@media (min-width: 940px) {
    .container {
        width: 100%;
    }

    .header {
        width: 65.2777%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15rem;
    }

    .hero {
        padding-bottom: 23rem;
    }

    .hero-title {
        margin: 0 auto;
        font-size: 5.15rem;
        width: 50rem;
    }

    .hero-desc {
        font-size: 2.4rem;
        padding: 4.4rem 0 4rem 0;
    }

    .partners {
        margin: 0 auto;
        padding-bottom: 6rem;
        max-width: 65.2777%;
        min-width: 925px;
    }

    .partner-list {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }


}