/* Variable declarations */

:root {
  --base-font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --second-font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  --base-font-size: 14px;
  --base-line-height: 18px;
  --base-font-color: #515151;
  --second-font-color: #0f0101;
  --theme-first-color: #1abc9c;
  --theme-second-color: #323232;
  --theme-header-color: #555252;
  --header-bg-color: #ffffff;
}

/* Basic default styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--base-font-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* Header */
.header-wrapper {
  background-color: var(--header-bg-color);
}

.header {
  padding-top: 23px;
  margin-bottom: 27px;
}

/* logo */
.logo-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  color: var(--theme-header-color);
  float: left;
  letter-spacing: -0.75px;
}

.logo-link::first-letter {
  font-weight: 900;
  color: var(--theme-first-color);
}

/* navigation */
.main-nav {
  float: right;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list_item {
  float: left;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--second-font-family);
  color: var(--second-font-color);
  font-weight: 700;
}

.nav-list_item:not(:last-child) {
  margin-right: 36px;
}

/* slider */
.slider {
  height: 600px;
  position: relative;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* button controls */
.buttons-wrapper {
  width: 1110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slider-control-prev,
.slider-control-next {
  display: block;
  width: 104px;
  height: 104px;
  background-color: var(--theme-first-color);
  opacity: .65;
  border: none;
  position: absolute;

}

.slider-control-next {
  right: 0;
}

.slider-control-prev {
  left: 0;
}

.slider-arrow {
  display: block;
  margin: 0 auto;
}

.slide-card {
  position: relative;
}

.img-slide {
  height: 600px;
  width: 100%;
  object-fit: cover;
}
.slider-content {
  position: absolute;
  width: 1110px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide-headline {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

/* slide links */

.tour-details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tour-details {
  float: left;
}

.tour-details-link {
  text-transform: uppercase;
  text-decoration: none;
}

.slide-headline {
  margin: 0;
  padding: 0;
}

.tour-details-link {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.75px;
}