html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.vissually-hidden:not(:focus):not(:active),
input[type="checkbox"].vissually-hidden,
input[type="radio"].vissually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0, 0, 0, 0);
overflow: hidden;
}

body{
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
}

.page-nav,
.main-content {
  margin: 0 auto;
  width: 900px;
}

.page-header {
  padding-top: 42px;
  margin-bottom: 62px;
}

.page-nav {
  text-transform: uppercase;
}


.nav-link-list,
.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link-list {
  text-align: center;
}

.nav-link-list-item {
    display: inline-block;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  line-height: 16px;
  color: #626262;
  padding: 30px 60px;
}

.nav-link:focus,
.nav-link:hover {
  color: #03a9f4;
}

.posts-list {
  font-size: 0px;
}

.posts-list-item {
  display: inline-block;
  width: 420px;
  overflow: hidden;
}

.posts-list-item:nth-child(-n+2) {
  margin-bottom: 60px;
}

.posts-list-item:not(:nth-of-type(2n)) {
  margin-right: 60px;
}

.post-img {
  height: 280px;
  margin-bottom: 32px;
}

.post-header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 42px;
}

.post-tag-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-family: "Ubuntu", Tahoma, sans-serif;
  margin-bottom: 33px;
  text-transform: uppercase;
  text-decoration: none;
  color: #b4ad9e;
}

.post-tag-link:hover,
.post-tag-link:focus {
  color: #03a9f4;
}

.post-text {
  font-size: 14px;
  line-height: 24px;
}

.posts-list {
  margin-bottom: 87px;
}

button {
  margin: 0 auto;
  display: block;
  padding: 16px 33px;
  border: 1px solid #626262;
  background: none;
}

button:hover {
  cursor: pointer;
  background-color: #03a9f4;
  color: #fff;
  border: 1px solid #fff;
}

.posts-view-section {
  padding-bottom: 100px;
}
